* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: bisque;
  width: 100vw;
  height: 100vh;
}

h1 {
  text-align: center;
  margin-top: 50px;
  font-size: 50px;
  color: black;
}

#container {
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  background-color: white;
  border-radius: 10px;
  width: 50%;
  height: 50%;
  gap: 20px;
  padding-top: 10px;
}

/* Paragraf s pitanjem */

.question-description {
  padding-left: 20px;
  height: 60px;
}

/* ul lista u koju idu button-i */

#question-list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-basis: 70%;
}

/* Button-i za odgovore */

.btn {
  border: none;
  height: 40px;
  background-color: #eee;
  transition: background-color 0.5s ease;
}

.btn:hover {
  background-color: black;
  color: white;
}

/* Start button */

#start-btn {
  background-color: black;
  color: white;
  font-size: 20px;
  margin: 0 auto;
  width: 100px;
  height: 50px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.btn-container {
  display: flex;
  justify-content: center;
  transform: translateY(-180px);
}

/* Next button */

#next {
  display: none;
  background-color: black;
  color: white;
  font-size: 20px;
  margin: 0 auto;
  width: 100px;
  height: 50px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.try-button {
  display: block;
  background-color: black;
  color: white;
  font-size: 20px;
  margin: 0 auto;
  width: 100px;
  height: 50px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transform: translateY(-180px);
}
